<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2000Dialect
      </property>
      <property name="connection.connection_string">
        Persist Security Info=True;Data Source=irzdb\mssql2k8,1436;Initial Catalog=AdSitesGrabber;User ID=grabberLogin;Password=grabberPass;
      </property>
      <mapping assembly="Grabber"/>
    </session-factory>
  </hibernate-configuration>
  
  <log4net>

    <appender name="Appender_Screen" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %logger %newline%message %newline %newline"/>
      </layout>
    </appender>

    <appender name="Appender_All" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\all.log"/>
      <appendToFile value="false"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Loggins starts on %date] %newline %newline"/>
        <footer type="log4net.Util.PatternString" value="[Loggins ends on %date] %newline %newline"/>
        <conversionPattern value="%level %logger %newline%message %newline %newline"/>
      </layout>
    </appender>

    <appender name="Appender_Error" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\error.log"/>
      <appendToFile value="false"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Loggins starts on %date] %newline %newline"/>
        <footer type="log4net.Util.PatternString" value="[Loggins ends on %date] %newline %newline"/>
        <conversionPattern value="%level %logger %newline%message %newline %newline"/>
      </layout>
    </appender>

    <appender name="Appender_DB" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\db.log"/>
      <appendToFile value="false"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Loggins starts on %date] %newline %newline"/>
        <footer type="log4net.Util.PatternString" value="[Loggins ends on %date] %newline %newline"/>
        <conversionPattern value="%level %logger %newline%message %newline %newline"/>
      </layout>
    </appender>

    <appender name="Appender_SQL" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\sql.log"/>
      <appendToFile value="false"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Loggins starts on %date] %newline %newline"/>
        <footer type="log4net.Util.PatternString" value="[Loggins ends on %date] %newline %newline"/>
        <conversionPattern value="%level %logger %newline%message %newline %newline"/>
      </layout>
    </appender>

    <root>
      <priority value="ALL"/>
      <appender-ref ref="Appender_All"/>
    </root>

    <logger name="ErrorLogger">
      <level value="WARN"/>
      <appender-ref ref="Appender_Error"/>
      <appender-ref ref="Appender_Screen"/>
    </logger>
    
    <logger name="NHibernate">
      <level value="INFO"/>
      <appender-ref ref="Appender_DB"/>
    </logger>
    
    <logger name="NHibernate.SQL">
      <level value="DEBUG"/>
      <appender-ref ref="Appender_SQL"/>
    </logger>
    
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
