<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2005Dialect
      </property>
      <property name="connection.connection_string">
        Persist Security Info=True;Data Source=irzdb\mssql2k8,1436;Initial Catalog=NHibernateTests;User ID=nhibLogin;Password=nhibPass;
      </property>
      <mapping assembly="NHibernateTests"/>
    </session-factory>
  </hibernate-configuration>

</configuration>