<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\pkg" />
  </config>
  <!--
  <settings>
    <repositoryPath>..\..\pkg</repositoryPath>
    </settings>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  -->
</configuration>